schedule/Schedule.json
{
  "name": "AI Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        208,
        0
      ],
      "id": "fbc382aa-ccf0-47a8-9b72-91d8cea50793",
      "name": "When chat message received",
      "webhookId": "802a7dd9-e974-4b35-bbf9-36bc63893cb7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\nYou must look in the contact database before doing something like creating an event or sending an email. you need the person's email address in order to do one of those actions\n\nNever make up someone's email address. you must look in the contacts database tool. \n\nDon't forget to send them an Email if there contact info is present inside contact database. If there info not present. \nThen output: I don't have \"Name of the person\" Email information access.\n\nHere is the current date/time {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "56423f2b-dd97-4577-9836-0cc04e1bdce5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        192,
        240
      ],
      "id": "85939289-17ff-4df8-b375-867cad2af755",
      "name": "llama instant",
      "credentials": {
        "groqApi": {
          "id": "2BhrX476DM0vNNt1",
          "name": "Groq Cred"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        256
      ],
      "id": "c18f9980-05ff-4820-b1da-4e152a4accdc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VDzfzD8-dWs_l6m-Vxiv5cgXS7Vv8ywBYpLC6aJsNNQ",
          "mode": "list",
          "cachedResultName": "Linkedin Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VDzfzD8-dWs_l6m-Vxiv5cgXS7Vv8ywBYpLC6aJsNNQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1716493711,
          "mode": "list",
          "cachedResultName": "Contact",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VDzfzD8-dWs_l6m-Vxiv5cgXS7Vv8ywBYpLC6aJsNNQ/edit#gid=1716493711"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        928,
        224
      ],
      "id": "f2c4b2a7-dc80-4fba-8248-f95f208494da",
      "name": "Contact Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "W7JyoenDLDAHEy71",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1056,
        224
      ],
      "id": "159eb319-4390-418c-9b94-86ac49e3c4a4",
      "name": "Send Email",
      "webhookId": "72fee3c8-978c-4bcc-957a-a2206d0b3a53",
      "credentials": {
        "gmailOAuth2": {
          "id": "tbiAVdHCl3xQk5SV",
          "name": "Mausham's Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "maushamkumarr26@gmail.com",
          "mode": "list",
          "cachedResultName": "maushamkumarr26@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        768,
        224
      ],
      "id": "10296bef-ff0c-4395-88fa-3846565c016c",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vA6rzHVtQ64O4R5B",
          "name": "Mausham's Calendar"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llama instant": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Contact Database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "493695b5-39dc-4eee-88fe-59bfd653c152",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "035273573ef4754fc0db35bf4598c10effd9bfdd87dfbe1983a34027e71a1072"
  },
  "id": "4eTFNGj8oTPO9ZwC",
  "tags": []
}